body{
    font-family:  Arial, Helvetica, sans-serif;
    width:100%;
}

h2{font-family:'Archivo', Arial, Helvetica, sans-serif; font-size:2em;}

.backgroundImg{
    background-image:url("../images/baseball.jpg");
    background-size:cover;
}

.container{
    width:100%;
    text-align:center;
}

input{
    margin-right:20px;
    margin-bottom:10px;
    background-color:rgba(white, .85);
}

.iB{
    display:inline-block;
}

.calcButton{
    color: white;
    background-color: black;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor: pointer;
    font-weight: 600;
}

.calcButton:hover{
    color: black;
    background-color: white;
}

.calcStats{
    width:80%;
    margin: 0 auto;
    border-collapse: collapse
}

td, th{
        border: 1px solid #ccc;
        padding:5px;
        width:40px;
        background-color:rgba(white, .85);
        border: 1px solid black;
}

col{
    display:inline-block;
}

.hide{
    display:none;
}

.show{
    display:inline-block;
}